<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Ingrese sus datos de usuario</ion-title>
  </ion-navbar>

</ion-header>

  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="password">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Sim Dispositivo" ng-model="sim">
          </label>          
          <label class="item item-input">
              <input type="text" placeholder="Direccion IP" [(ngModel)]="IP">
          </label>          
      </div>
      <button class="button button-block button-calm" (click)="cambiarIP()">Login</button>
  
</ion-content>
