<ion-tabs orange>
  <ion-tab [root]="tab1Root" tabTitle="Inicio" tabIcon="home"></ion-tab>
  <!--ion-tab [root]="tab2Root" tabTitle="Saldo" tabIcon="battery-charging"></ion-tab-->
  <ion-tab [root]="tab3Root" tabTitle="Registro" tabIcon="contacts"></ion-tab>
</ion-tabs>
