@import '../_vars';

.saldo-cant-circle {
    width: 13rem;
    height: 13rem;
    margin: auto;
    background: $primary;
    border-radius: 50%;
    border: 2px solid $silver;
    position: relative;
}

.saldo-cant-num {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 12rem;
    height: 4rem;
}

h1.saldo-cant-number {
    color: $white;
    text-shadow: 1px 1px #000;
    font-size: 3rem;
    text-align: center;
}