<ion-header>
  <ion-navbar orange>
    <!--<ion-buttons class="req-det-btn-lft" icon-only clean (click)="goBack()" start>
			<button ion-button>     
          <ion-icon name="arrow-back"></ion-icon> 
      </button>
		</ion-buttons>-->
    <ion-title>
      Saldo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

<ion-list>
  <ion-item-divider light>
    <p class="req-det-center"><b>DETALLE SALDO</b></p>
  </ion-item-divider>
    <ion-card>
      <ion-card-content>
        <div class="saldo-cant-circle" [style.background-color]="getBackgroundSaldo()">
          <div class="saldo-cant-num">
            <h1 class="saldo-cant-number">
              $ {{ saldo | number : '1.2-2'}}
            </h1>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

  <ion-item-divider light>
    <p class="req-det-center"><b>CÓDIGO DE RECARGA</b></p>
  </ion-item-divider>
    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label floating>Codigo</ion-label>
            <ion-input [(ngModel)]="codigo" type="text" maxlength="15"></ion-input>
          </ion-item>
        </ion-list>      
        <button ion-button full secondary (click)="cargaSaldo()">Recargar Saldo</button>
      </ion-card-content>
    </ion-card>
</ion-list>

  <!--<ion-list>

    <ion-list-header>Datos del saldo del transportista</ion-list-header>
    <ion-item>
      <ion-label fixed>Codigo</ion-label>
      <ion-input [(ngModel)]="codigo" type="text" maxlength="15"></ion-input>
    </ion-item>
    <button class="button button-block button-calm" (click)="cargaSaldo()">Recargar Saldo</button>

		<ion-item>
      <ion-label fixed>$</ion-label>
      <ion-input [(ngModel)]="saldo" type="text" maxlength="15"></ion-input>  
		</ion-item>    
    </ion-list>-->

</ion-content>