<ion-header>
  <ion-navbar orange>
    <button ion-button menuToggle icon-only>     
      <ion-icon class="h-icons" name="menu"></ion-icon> 
    </button>
    <ion-title>Pedidos</ion-title>
  </ion-navbar>
</ion-header>

<ion-menu [content]="content">
  <!--<ion-toolbar primary>
    <ion-title>GoodAppetit</ion-title>
  </ion-toolbar>-->
  <ion-content class="menutab profile-background">

      <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content>
          pullingIcon="arrow-dropdown"
          pullingText="Deslizar para Actulizar"
          refreshingSpinner="circles"
          refreshingText="Actualizando...">
        </ion-refresher-content>
      </ion-refresher>

    <div class="profile-content-list">
      <ion-list>      
        <ion-item class="profile-item">                                
          <!--<ion-card>
            <ion-item>-->
              <div class="profile-img-out-circle">
                <ion-avatar class="profile-avatar">
                  <img class="profile-img" src="{{perfil.ruta_foto}}">
                </ion-avatar>
              </div>
              <!--<h2 class="txt-center profile-upper" style="font-weight: 400;">{{ usuario.nombre }}</h2>-->
              <!--<p class="txt-center">{{ usuario.email }}</p>                                   -->
            <!--</ion-item>
          </ion-card>-->
        </ion-item>
        <hr class="profile-hr">
        <!--<ion-item class="profile-item">
          <button full class="menu-buttons" clear (click)="goToPerfil()"><ion-icon name="md-person"></ion-icon>Perfil</button>
        </ion-item>-->
        <ion-item class="profile-item">
          <button full class="menu-buttons" clear menuClose detail-none><ion-icon name="cart"></ion-icon>Pedidos</button>
        </ion-item >
        <ion-item class="profile-item">
          <button full class="menu-buttons" clear (click)="goToSaldo()">
            <ion-icon name="logo-usd"></ion-icon>Saldo</button>
        </ion-item >
        <!--<ion-item class="profile-item">
          <button full class="menu-buttons" clear menuClose detail-none><ion-icon name="md-restaurant"></ion-icon>Restaurantes </button>         
        </ion-item>-->
        <!--<ion-item class="profile-item">
          <button full class="menu-buttons" clear ion-button  (click)="goToSugerencias()"> <ion-icon ios="ios-star" md="md-star"></ion-icon>Sugerencias</button>
        </ion-item>      -->
        <ion-item class="profile-item">
          <button full class="menu-buttons" clear (click)="salir()"><ion-icon name="log-out"></ion-icon>Salir</button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-menu>

<ion-content class="home" #content>
  <ion-list>
    <ion-item *ngFor="let pedido of pedidos" (click)="itemSelected(pedido)" color="secondary">
      <!--<ion-icon *ngIf="pedido.id_estado.id_estado==2" name="bicycle" item-left></ion-icon>
      <ion-icon *ngIf="pedido.id_estado.id_estado==4" name="person-add" item-left></ion-icon>
      <ion-icon *ngIf="pedido.id_estado.id_estado==9" name="person-add" item-left></ion-icon>-->
      <ion-avatar item-left *ngIf="pedido.id_estado.id_estado==2">
        <!--<img src="{{pedido.id_direccion.id_perfil.ruta_foto}}">-->
        <img src="build/images/icon_blanco.png">
      </ion-avatar>
      <ion-avatar item-left *ngIf="pedido.id_estado.id_estado==4 || pedido.id_estado.id_estado==9">
        <img src="build/images/icon_generic_red.png">
      </ion-avatar>

      <h2>
        <ion-icon name="clock" primary></ion-icon> <b>{{ pedido.fecha | date:'HH:mm:ss' }}</b> 
        <ion-icon name="restaurant" primary></ion-icon> <b>{{ pedido.id_sucursal.nombre_sucursal }}</b>
      </h2>
      <hr class="req-line-div">
      <p class="req-lbl-txt"><b class="req-lbl-tag"><ion-icon class="req-icon2" name="person" primary></ion-icon> Cliente: </b>{{ pedido.usuario.first_name }} {{ pedido.usuario.last_name }}</p>
      <p class="req-lbl-txt"><b class="req-lbl-tag"><ion-icon class="req-icon2" name="locate" primary></ion-icon> Direccion: </b>{{ pedido.id_direccion.calle_principal }}, {{ pedido.id_direccion.calle_secundaria }}</p>
      <!--<p>{{ pedido.id_sucursal.id_direccion.calle_principal }}, {{ pedido.id_sucursal.id_direccion.calle_secundaria
      }} -> </p> -->
      <!--<ion-thumbnail item->
        <img src="{{pedido.id_direccion.id_perfil.ruta_foto}}">
      </ion-thumbnail>-->
    </ion-item>
    <ion-item *ngIf="txtError" no-lines class="home-txtError">
      <ion-icon name="warning"></ion-icon> {{txtError}}
    </ion-item>
  </ion-list>
</ion-content>