@import '_profile-menu';
/*.home {
    font-size:25px !important;
}*/

ion-avatar{
    margin: 0 !important;
    margin-right: 1rem !important;
}

ion-avatar img {
    max-width: 6rem;
    max-height: 6rem;
    border-radius: 3rem;
}

.req-line-div{
    border-bottom: 1px dashed #E4022D;
}

.req-icon2{
    font-size: 1.2rem;
}
