@import '../_vars';

.req-det-row-dir{
    ion-label{
        white-space: normal;
    }
}

.req-det-btn-lft {
    order: 1
}

.req-det-center{
    text-align: center;
    margin: 0;
}

.req-det-label{
    color: $primary !important;
    text-shadow: 1px 1px $white;
}

.req-det-buttons-section {
    padding: 2rem;
}