<!--
  Generated template for the DetallePedidoPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar orange>
    <ion-buttons class="req-det-btn-lft" icon-only clean (click)="goBack()" start>
			<button ion-button>     
      			<ion-icon name="arrow-back"></ion-icon> 
    		</button>
		</ion-buttons>
    <ion-title>Detalles del Pedido</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider light>
      <p class="req-det-center"><b>DIRECCIÓN DEL PROVEEDOR</b></p>
    </ion-item-divider>   
    <ion-item>
      <ion-avatar item-left>
        <img src="{{pedido.id_direccion.id_perfil.ruta_foto}}">
      </ion-avatar>
      <p class="req-det-label"><b>Proveedor:</b></p>
      <h2>{{ pedido.id_sucursal.nombre_sucursal }}</h2>
    </ion-item>  
    <ion-item class="req-det-row-dir">
      <p class="req-det-label"><b>Dirección:</b></p>
      <h2>{{ pedido.id_sucursal.id_direccion.calle_principal }} y {{ pedido.id_sucursal.id_direccion.calle_secundaria }}
      - {{ pedido.id_sucursal.id_direccion.numero_casa }} - {{ pedido.id_sucursal.id_direccion.referencia }}</h2>
    </ion-item>
    <ion-item>
      <ion-label>
        <p class="req-det-label"><b>Hora:</b></p>
        <h2>{{ pedido.fecha | date:'hh:mm:ss' }}</h2>
      </ion-label>
      <ion-label>
        <p class="req-det-label"><b>Tiempo Preparación:</b></p>
        <h2>{{ pedido.tiempo }} minutos.</h2>
      </ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label>
        <p class="req-det-label"><b>Tipo de Pago:</b></p>
        <h2>{{ pedido.id_tipo_pago.observaciones }}</h2>
      </ion-label>
      <ion-label>
        <p class="req-det-label"><b>Valor:</b></p>
        <h2>$ {{ pedido.valor | number : '1.2-2'}}</h2>
      </ion-label>
    </ion-item>

    <ion-item-divider light>
      <p class="req-det-center"><b>INFORMACIÓN DE USUARIO</b></p>
    </ion-item-divider>
    <ion-item>
      <!--<ion-label stacked>Direccion de Usuario</ion-label>-->
      <!--<ion-input aria-placeholder="Direccion de Usuario" value="{{ pedido.id_direccion.calle_principal }} y {{ pedido.id_direccion.calle_secundaria }}
      - {{ pedido.id_direccion.numero_casa }} - {{ pedido.id_direccion.referencia }}" 
      type="text" disabled="true">        
      </ion-input>-->
      <ion-avatar item-left>
        <!--<img src="{{pedido.id_direccion.id_perfil.ruta_foto}}">-->
        <img src="build/images/icon_generic_red.png">
      </ion-avatar>
      <p class="req-det-label"><b>Nombre:</b></p>
      <h2>{{pedido.usuario.first_name}} {{pedido.usuario.last_name}}</h2>
    </ion-item>
    <ion-item class="req-det-row-dir">
      <p class="req-det-label"><b>Dirección:</b></p>
      <h2>{{ pedido.id_direccion.calle_principal }} y {{ pedido.id_direccion.calle_secundaria }}
      - {{ pedido.id_direccion.numero_casa }} - {{ pedido.id_direccion.referencia }}</h2>
    </ion-item>
    <ion-item>
      <p class="req-det-label"><b>Teléfono:</b></p>
      <h2>{{ pedido.id_direccion.id_perfil.telefono }}</h2>
    </ion-item>

    <div class="req-det-buttons-section">
      <button secondary *ngIf="pedido.id_estado.id_estado==2" full (click)="showConfirmPedido(pedido)">Aceptar Entrega</button>        
      <button secondary *ngIf="pedido.id_estado.id_estado==4" full (click)="pedidoEntregado(pedido,1)">Salir a Recoger</button>
      <button secondary *ngIf="pedido.id_estado.id_estado==9" full (click)="pedidoEntregado(pedido,2)">Pedido Entregado</button>
      <button secondary full (click)="verUbicacion(pedido)">Ver Ubicacion</button>
    </div>
    <!--<button full (click)="closeModal()">Cerrar</button>          -->
  </ion-list>
</ion-content>
