<ion-header>
  <ion-navbar orange>
    <ion-title>
      Ubicacion
    </ion-title>
    <ion-buttons end>
      <button ion-button color="light" (click)="ubicame()">
        <ion-icon name="locate"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="about">
  <map-component></map-component>
</ion-content>
