<ion-header>
  <ion-navbar>
    <ion-title>
      Ubicacion Motorizado SPA
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="map-page">
  <ion-datetime displayFormat="YYYY-MM-DD HH:mm:ss" [(ngModel)]="date"></ion-datetime>
</ion-content>
<!--ion-content padding>
  Geolocation
  <p> {{lon}}    
  </p>
  <p> {{lat}}    
  </p>  
  BackgroundGeolocation
  <p> {{longitud}}    
  </p>
  <p> {{latitud}}    
  </p>    
  <p> IP: {{IPServer}}    
  </p>
  
  <ion-datetime displayFormat="YYYY-MM-DDTHH:mm" [(ngModel)]="date"></ion-datetime>
    
</ion-content-->
