<!--<ion-header>
  <ion-navbar orange>
    <ion-title>
      Registro del dispositivo
    </ion-title>
  </ion-navbar>
</ion-header>-->

<ion-content class="reg-background" padding>
  <div class="reg-content">
    <section class="login">
      <ion-img class="logo" src="build/images/logo_good.png"></ion-img>
    </section>

    <ion-list class="loginPage">

      <!--<ion-list-header>Ingrese los datos de registro</ion-list-header>-->
      <ion-list-header class="req-header"><div class="main-title">DATOS DE USUARIO (Proveedor)</div></ion-list-header>
      <!--<hr class="reg-div-title">-->
      <ion-item>
        <!--<ion-label fixed>Usuario</ion-label>-->
        <ion-input [(ngModel)]="usuario.usuario" placeholder="Usuario" type="text" maxlength="15"></ion-input>
      </ion-item>
      <ion-item>
        <!--<ion-label fixed>Contraseña</ion-label>-->
        <ion-input [(ngModel)]="usuario.clave" placeholder="Contraseña" type="password" maxlength="15"></ion-input>
      </ion-item>
      <!--ion-item>
        <ion-input [(ngModel)]="registro.numero" placeholder="Teléfono" type="number" (keyup)="elementChanged(registro.numero)" maxlength="10"></ion-input>
      </ion-item-->

      <!--ion-item>
        <ion-label>Tipo de Transporte</ion-label>
        <ion-select [(ngModel)]="registro.tipo_transporte">
          <ion-option *ngFor="let tipo of tipos" value="{{tipo}}">{{tipo}}</ion-option>
        </ion-select>
      </ion-item-->    

      <button secondary full (click)="registrarDispositivo()">Ingresar</button>

    </ion-list>
  </div>

</ion-content>