<!--
  Generated template for the SlidesPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>
  <ion-navbar primary>
    <ion-title>GoodAppetit</ion-title>
  </ion-navbar>
</ion-header>-->


<ion-content class="slides">

  <ion-slides pager>
    <!--<ion-slide class="img-background" *ngFor="let slide of slides">
      <div class="main-content">
          <ion-toolbar>
          <ion-label>           
          </ion-label>
        </ion-toolbar>
        <img *ngIf="slide.imagen" [src]="slide.imagen" class="slide-imagen"/>
        <h2 class="slide-titulo" [innerHTML]="slide.titulo"></h2>
        <p [innerHTML]="slide.descripcion"></p>
        <p class="next">Deslizar para continuar <ion-icon name="arrow-forward"></ion-icon></p>
      </div>
    </ion-slide>-->

    <ion-slide class="img-background">
      <div class="main-content">
        <!--<ion-toolbar>
        </ion-toolbar>-->
        <!--<img src="http://ihe.ncdpi.wikispaces.net/file/view/READY%20icon.png/371426866/READY%20icon.png" 
        class="slide-imagen"/>-->
        <div class="slide-content">
          <!--<img  src="../www/build/images/logo_good.png" class="slide-imagen"/>-->
          <img  src="../www/build/images/logo_good.png" class="slide-imagen"/>
          <!--<button class="slide-clear-button" large clear (click)="iniciar()">
            ¿Empezamos?<ion-icon name="arrow-forward"></ion-icon>
          </button>-->
          <ion-label class="slide-txt-action">           
            Deslice para continuar <ion-icon name="arrow-forward"></ion-icon>
          </ion-label>
        </div>
      </div>
    </ion-slide>
    <ion-slide class="img-background">
      <div class="main-content2">
        <!--<ion-toolbar>
        </ion-toolbar>-->
        <!--<img src="http://ihe.ncdpi.wikispaces.net/file/view/READY%20icon.png/371426866/READY%20icon.png" 
        class="slide-imagen"/>-->
        <p><b>GoodAppetit</b>, es la nueva solución para perdir comida a domilio, Como transportista podras visualizar pedidos y detalles de tu efectiva entrega</p>
        <div class="slide-content">
          <img  src="../www/build/images/img_moto.png" class="slide-imagen2"/>
          <div class="slide-txt-action">
            <button ion-button icon-left color="light" outline class="" (click)="iniciar()">
              <ion-icon name="home"></ion-icon>
              ¿Empezamos?
            </button></div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
