@import '../_vars';

.reg-background{
    background-image: url("../images/fondo_pollo.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.login {
    //background-color: #FFFFFF;
    ion-img{
        /*max-height: 30%;
        max-width: 40%;*/
        display: block;
        //height: 20rem;
        margin: 5% auto 25px auto;
        //width: 13rem;
    }
}
.footer{
    .toolbar-background{
        background-color: rgba(255,255,255,.3);
    }
    .toolbar-title{
        color: #000000;
        font-weight: lighter;
    }
}

.login-content{
    //background: $silver;
}

.reg-content{
    background: rgba(155, 162, 170, .9);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.8rem;
}

.logo {
    width: 8rem;
    //height: 13rem;
}

.loginTabs{
    background: rgba(0, 0, 0, .1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: $white;
}

.loginTabs.segment-activated{
    background: rgba(0, 0, 0, .3);
}

.loginPage{
    background: rgba(0, 0, 0, .1);
    padding: 1.5rem;
    p.errorLogin{
        color: #f4f4f4;
        font-style: italic;
    }
    
}

.registerPage{
    background: rgba(0, 0, 0, .3);
    padding: 1.5rem;
    .errorRegister, .errorLogin{
        color: #f4f4f4;
        font-style: italic;
    }
}

.login-lbl-center{
    text-align: center;
}

.login-icon-reg{
    color: $silver-icon;
}

.power-by{
    font-size: 1rem;
}

.main-title {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    text-shadow: 1px 1px #000;
}

.req-header{
    margin-bottom: 1rem;
    border-bottom: 1px dashed #dedede;
}